@import 'partials/default'

// 
// google maps styling
// 
#map 
  height: 100vh
  width: 100%
#actions 
  list-style: none
  padding: 0
#inline-actions 
  padding-top: 10px
.item 
  margin-left: 20px

// 
// Hosts info styling
// 
.host
  background-image: url(../../images/g-10.jpg)
  background-size: cover
  display: inline-block
  border-radius: 50%
  height: 100px
  width: 100px